In [91]:
import pandas as pd 

path = './output_steam_games.csv'

df_info_plays = pd.read_csv(path)

df_info_plays.info()
df_info_plays.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 39 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   publisher                  22511 non-null   object
 1   title                      22530 non-null   object
 2   release_date               22496 non-null   object
 3   price                      22530 non-null   object
 4   id                         22530 non-null   float64
 5   developer                  22530 non-null   object
 6   Action                     120445 non-null  int64
 7   Adventure                  120445 non-null  int64
 8   Animation_&amp;_Modeling   120445 non-null  int64
 9   Audio_Production           120445 non-null  int64
 10  Casual                     120445 non-null  int64
 11  Design_&amp;_Illustration  120445 non-null  int64
 12  Early_Access               120445 non-null  int64
 13  Education                  120445 non-null  int64
 14  Free_to_Play               120445 non-null  int64
 15  Indie                      120445 non-null  int64
 16  Massively_Multiplayer      120445 non-null  int64
 17  Photo_Editing              120445 non-null  int64
 18  RPG                        120445 non-null  int64
 19  Racing                     120445 non-null  int64
 20  Simulation                 120445 non-null  int64
 21  Software_Training          120445 non-null  int64
 22  Sports                     120445 non-null  int64
 23  Strategy                   120445 non-null  int64
 24  Utilities                  120445 non-null  int64
 25  Video_Production           120445 non-null  int64
 26  Web_Publishing             120445 non-null  int64
 27  Accounting                 120445 non-null  int64
 28  Design                     120445 non-null  int64
 29  Photo                      120445 non-null  int64
 30  Web                        120445 non-null  int64
 31  Software                   120445 non-null  int64
 32  Audio                      120445 non-null  int64
 33  Early                      120445 non-null  int64
 34  Animation                  120445 non-null  int64
 35  Video                      120445 non-null  int64
 36  Free                       120445 non-null  int64
 37  Massively                  120445 non-null  int64
 38  year                       22496 non-null   float64
dtypes: float64(2), int64(32), object(5)
memory usage: 35.8+ MB

C:\Users\Carlos Andres\AppData\Local\Temp\ipykernel_12388\864348595.py:5: DtypeWarning: Columns (0,1,2,3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_info_plays = pd.read_csv(path)

,publisher,title,release_date,price,id,developer,Action,Adventure,Animation_&amp;_Modeling,Audio_Production,...,Photo,Web,Software,Audio,Early,Animation,Video,Free,Massively,year
0,Kotoshiro,Lost Summoner Kitty,2018-01-04,4.99,761140.0,Kotoshiro,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
1,"Making Fun, Inc.",Ironbound,2018-01-04,Free To Play,643980.0,Secret Level SRL,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2018.0
2,Poolians.com,Real Pool 3D - Poolians,2017-07-24,Free to Play,670290.0,Poolians.com,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2017.0
3,彼岸领域,弹炸人2222,2017-12-07,0.99,767400.0,彼岸领域,1,1,0,0,...,0,0,0,0,0,0,0,0,0,2017.0
4,Trickjump Games Ltd,Battle Royale Trainer,2018-01-04,3.99,772540.0,Trickjump Games Ltd,1,1,0,0,...,0,0,0,0,0,0,0,0,0,2018.0

In [92]:
### extraemos las colunas que vamos a utilizar para las funciones en un nuevo df 

data_necesaria = ['id', 'publisher','title', 'year', 'price', 'Action','Adventure','Animation_&amp;_Modeling','Audio_Production','Casual','Design_&amp;_Illustration','Early_Access','Education','Free_to_Play','Indie','Massively_Multiplayer','Photo_Editing','RPG','Racing','Simulation','Software_Training','Sports','Strategy','Utilities','Video_Production','Web_Publishing','Accounting','Design','Photo','Web','Software','Audio','Early','Animation','Video','Free','Massively'  ]

df_plays = df_info_plays[data_necesaria].copy()

df_plays.info()
df_plays.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 37 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         22530 non-null   float64
 1   publisher                  22511 non-null   object
 2   title                      22530 non-null   object
 3   year                       22496 non-null   float64
 4   price                      22530 non-null   object
 5   Action                     120445 non-null  int64
 6   Adventure                  120445 non-null  int64
 7   Animation_&amp;_Modeling   120445 non-null  int64
 8   Audio_Production           120445 non-null  int64
 9   Casual                     120445 non-null  int64
 10  Design_&amp;_Illustration  120445 non-null  int64
 11  Early_Access               120445 non-null  int64
 12  Education                  120445 non-null  int64
 13  Free_to_Play               120445 non-null  int64
 14  Indie                      120445 non-null  int64
 15  Massively_Multiplayer      120445 non-null  int64
 16  Photo_Editing              120445 non-null  int64
 17  RPG                        120445 non-null  int64
 18  Racing                     120445 non-null  int64
 19  Simulation                 120445 non-null  int64
 20  Software_Training          120445 non-null  int64
 21  Sports                     120445 non-null  int64
 22  Strategy                   120445 non-null  int64
 23  Utilities                  120445 non-null  int64
 24  Video_Production           120445 non-null  int64
 25  Web_Publishing             120445 non-null  int64
 26  Accounting                 120445 non-null  int64
 27  Design                     120445 non-null  int64
 28  Photo                      120445 non-null  int64
 29  Web                        120445 non-null  int64
 30  Software                   120445 non-null  int64
 31  Audio                      120445 non-null  int64
 32  Early                      120445 non-null  int64
 33  Animation                  120445 non-null  int64
 34  Video                      120445 non-null  int64
 35  Free                       120445 non-null  int64
 36  Massively                  120445 non-null  int64
dtypes: float64(2), int64(32), object(3)
memory usage: 34.0+ MB

,id,publisher,title,year,price,Action,Adventure,Animation_&amp;_Modeling,Audio_Production,Casual,...,Design,Photo,Web,Software,Audio,Early,Animation,Video,Free,Massively
0,761140.0,Kotoshiro,Lost Summoner Kitty,2018.0,4.99,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,643980.0,"Making Fun, Inc.",Ironbound,2018.0,Free To Play,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,670290.0,Poolians.com,Real Pool 3D - Poolians,2017.0,Free to Play,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,767400.0,彼岸领域,弹炸人2222,2017.0,0.99,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,772540.0,Trickjump Games Ltd,Battle Royale Trainer,2018.0,3.99,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
import pandas as pd

# Supongamos que tienes un DataFrame df_plays con las columnas mencionadas
# Define una función para ajustar una cadena según los requisitos
def ajustar_cadena(cadena):
    # Convierte la cadena a string por si acaso
    cadena = str(cadena)
    
    # Elimina espacios, puntos y comas solo al principio y al final
    cadena = cadena.strip(" ,.")

    # Intenta convertir a float y luego a int, si es posible
    try:
        # Primero intenta convertir a float
        flotante = float(cadena)
        # Si es exitoso, convierte el float a int
        cadena = str(int(flotante))
    except ValueError:
        # Si hay un error, mantiene la cadena como está
        pass

    # Devuelve la cadena ajustada
    return cadena

# Aplica la función a las columnas que deseas ajustar
columnas_ajustar = ['id', 'publisher', 'title', 'year']

for columna in columnas_ajustar:
    df_plays[columna] = df_plays[columna].apply(ajustar_cadena)

# Ahora, el DataFrame df_plays tiene valores ajustados en las columnas especificadas
print(df_plays)

            id            publisher                    title  year  \
0       761140            Kotoshiro      Lost Summoner Kitty  2018
1       643980      Making Fun, Inc                Ironbound  2018
2       670290         Poolians.com  Real Pool 3D - Poolians  2017
3       767400                 彼岸领域                  弹炸人2222  2017
4       772540  Trickjump Games Ltd    Battle Royale Trainer  2018
...        ...                  ...                      ...   ...
120440     nan                  nan                      nan   nan
120441     nan                  nan                      nan   nan
120442     nan                  nan                      nan   nan
120443     nan                  nan                      nan   nan
120444     nan                  nan                      nan   nan

               price  Action  Adventure  Animation_&amp;_Modeling  \
0               4.99       1          0                         0
1       Free To Play       0          0                         0
2       Free to Play       0          0                         0
3               0.99       1          1                         0
4               3.99       1          1                         0
...              ...     ...        ...                       ...
120440           NaN       0          0                         0
120441           NaN       0          0                         0
120442           NaN       1          1                         0
120443           NaN       0          0                         0
120444           NaN       0          0                         0

        Audio_Production  Casual  ...  Design  Photo  Web  Software  Audio  \
0                      0       1  ...       0      0    0         0      0
1                      0       0  ...       0      0    0         0      0
2                      0       1  ...       0      0    0         0      0
3                      0       1  ...       0      0    0         0      0
4                      0       0  ...       0      0    0         0      0
...                  ...     ...  ...     ...    ...  ...       ...    ...
120440                 0       0  ...       0      0    0         0      0
120441                 0       1  ...       0      0    0         0      0
120442                 0       0  ...       0      0    0         0      0
120443                 0       1  ...       0      0    0         0      0
120444                 0       0  ...       0      0    0         0      0

        Early  Animation  Video  Free  Massively
0           0          0      0     0          0
1           0          0      0     1          0
2           0          0      0     1          0
3           0          0      0     0          0
4           0          0      0     0          0
...       ...        ...    ...   ...        ...
120440      0          0      0     0          0
120441      1          0      0     0          0
120442      0          0      0     0          0
120443      0          0      0     0          0
120444      0          0      0     0          0

[120445 rows x 37 columns]

In [94]:
df_plays.info()
df_plays.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 37 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         120445 non-null  object
 1   publisher                  120445 non-null  object
 2   title                      120445 non-null  object
 3   year                       120445 non-null  object
 4   price                      22530 non-null   object
 5   Action                     120445 non-null  int64
 6   Adventure                  120445 non-null  int64
 7   Animation_&amp;_Modeling   120445 non-null  int64
 8   Audio_Production           120445 non-null  int64
 9   Casual                     120445 non-null  int64
 10  Design_&amp;_Illustration  120445 non-null  int64
 11  Early_Access               120445 non-null  int64
 12  Education                  120445 non-null  int64
 13  Free_to_Play               120445 non-null  int64
 14  Indie                      120445 non-null  int64
 15  Massively_Multiplayer      120445 non-null  int64
 16  Photo_Editing              120445 non-null  int64
 17  RPG                        120445 non-null  int64
 18  Racing                     120445 non-null  int64
 19  Simulation                 120445 non-null  int64
 20  Software_Training          120445 non-null  int64
 21  Sports                     120445 non-null  int64
 22  Strategy                   120445 non-null  int64
 23  Utilities                  120445 non-null  int64
 24  Video_Production           120445 non-null  int64
 25  Web_Publishing             120445 non-null  int64
 26  Accounting                 120445 non-null  int64
 27  Design                     120445 non-null  int64
 28  Photo                      120445 non-null  int64
 29  Web                        120445 non-null  int64
 30  Software                   120445 non-null  int64
 31  Audio                      120445 non-null  int64
 32  Early                      120445 non-null  int64
 33  Animation                  120445 non-null  int64
 34  Video                      120445 non-null  int64
 35  Free                       120445 non-null  int64
 36  Massively                  120445 non-null  int64
dtypes: int64(32), object(5)
memory usage: 34.0+ MB

,id,publisher,title,year,price,Action,Adventure,Animation_&amp;_Modeling,Audio_Production,Casual,...,Design,Photo,Web,Software,Audio,Early,Animation,Video,Free,Massively
0,761140,Kotoshiro,Lost Summoner Kitty,2018,4.99,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,643980,"Making Fun, Inc",Ironbound,2018,Free To Play,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,670290,Poolians.com,Real Pool 3D - Poolians,2017,Free to Play,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,767400,彼岸领域,弹炸人2222,2017,0.99,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,772540,Trickjump Games Ltd,Battle Royale Trainer,2018,3.99,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [95]:
# Supongamos que tienes un DataFrame llamado df con la información
# Selecciona solo las filas con valores no nulos en la columna 'price'
de_plays = df_plays.dropna(subset=['price'])

# Elimina las columnas adicionales que no necesitas (las columnas del índice 5 en adelante)
columnas_a_eliminar = de_plays.columns[5:]
de_plays = de_plays.drop(columns=columnas_a_eliminar)

# Ahora df contiene solo las filas con valores no nulos en 'price' y las columnas necesarias

In [96]:
df_plays.info()
df_plays.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 37 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         120445 non-null  object
 1   publisher                  120445 non-null  object
 2   title                      120445 non-null  object
 3   year                       120445 non-null  object
 4   price                      22530 non-null   object
 5   Action                     120445 non-null  int64
 6   Adventure                  120445 non-null  int64
 7   Animation_&amp;_Modeling   120445 non-null  int64
 8   Audio_Production           120445 non-null  int64
 9   Casual                     120445 non-null  int64
 10  Design_&amp;_Illustration  120445 non-null  int64
 11  Early_Access               120445 non-null  int64
 12  Education                  120445 non-null  int64
 13  Free_to_Play               120445 non-null  int64
 14  Indie                      120445 non-null  int64
 15  Massively_Multiplayer      120445 non-null  int64
 16  Photo_Editing              120445 non-null  int64
 17  RPG                        120445 non-null  int64
 18  Racing                     120445 non-null  int64
 19  Simulation                 120445 non-null  int64
 20  Software_Training          120445 non-null  int64
 21  Sports                     120445 non-null  int64
 22  Strategy                   120445 non-null  int64
 23  Utilities                  120445 non-null  int64
 24  Video_Production           120445 non-null  int64
 25  Web_Publishing             120445 non-null  int64
 26  Accounting                 120445 non-null  int64
 27  Design                     120445 non-null  int64
 28  Photo                      120445 non-null  int64
 29  Web                        120445 non-null  int64
 30  Software                   120445 non-null  int64
 31  Audio                      120445 non-null  int64
 32  Early                      120445 non-null  int64
 33  Animation                  120445 non-null  int64
 34  Video                      120445 non-null  int64
 35  Free                       120445 non-null  int64
 36  Massively                  120445 non-null  int64
dtypes: int64(32), object(5)
memory usage: 34.0+ MB

,id,publisher,title,year,price,Action,Adventure,Animation_&amp;_Modeling,Audio_Production,Casual,...,Design,Photo,Web,Software,Audio,Early,Animation,Video,Free,Massively
0,761140,Kotoshiro,Lost Summoner Kitty,2018,4.99,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,643980,"Making Fun, Inc",Ironbound,2018,Free To Play,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,670290,Poolians.com,Real Pool 3D - Poolians,2017,Free to Play,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,767400,彼岸领域,弹炸人2222,2017,0.99,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,772540,Trickjump Games Ltd,Battle Royale Trainer,2018,3.99,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [97]:
import pandas as pd

# Suponemos que df_plays es tu DataFrame existente

# Filtra el DataFrame para quedarte solo con las filas donde 'price' no es nulo
df_plays_filtrado = df_plays.dropna(subset=['price'])

# Ahora df_plays_filtrado contiene solo las filas donde 'price' tiene datos no nulos
print(df_plays_filtrado.info())

<class 'pandas.core.frame.DataFrame'>
Index: 22530 entries, 0 to 22529
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         22530 non-null  object
 1   publisher                  22530 non-null  object
 2   title                      22530 non-null  object
 3   year                       22530 non-null  object
 4   price                      22530 non-null  object
 5   Action                     22530 non-null  int64
 6   Adventure                  22530 non-null  int64
 7   Animation_&amp;_Modeling   22530 non-null  int64
 8   Audio_Production           22530 non-null  int64
 9   Casual                     22530 non-null  int64
 10  Design_&amp;_Illustration  22530 non-null  int64
 11  Early_Access               22530 non-null  int64
 12  Education                  22530 non-null  int64
 13  Free_to_Play               22530 non-null  int64
 14  Indie                      22530 non-null  int64
 15  Massively_Multiplayer      22530 non-null  int64
 16  Photo_Editing              22530 non-null  int64
 17  RPG                        22530 non-null  int64
 18  Racing                     22530 non-null  int64
 19  Simulation                 22530 non-null  int64
 20  Software_Training          22530 non-null  int64
 21  Sports                     22530 non-null  int64
 22  Strategy                   22530 non-null  int64
 23  Utilities                  22530 non-null  int64
 24  Video_Production           22530 non-null  int64
 25  Web_Publishing             22530 non-null  int64
 26  Accounting                 22530 non-null  int64
 27  Design                     22530 non-null  int64
 28  Photo                      22530 non-null  int64
 29  Web                        22530 non-null  int64
 30  Software                   22530 non-null  int64
 31  Audio                      22530 non-null  int64
 32  Early                      22530 non-null  int64
 33  Animation                  22530 non-null  int64
 34  Video                      22530 non-null  int64
 35  Free                       22530 non-null  int64
 36  Massively                  22530 non-null  int64
dtypes: int64(32), object(5)
memory usage: 6.5+ MB
None

In [98]:

df_plays = df_plays_filtrado

valores_nulos = df_plays['price'].isnull()

# Utiliza .sum() para contar los valores True (valores nulos)
cantidad_valores_nulos = valores_nulos.sum()

# Imprime la cantidad de valores nulos en la columna 'mi_columna'
print(f'Cantidad de valores nulos en la columna "mi_columna": {cantidad_valores_nulos}')

cantidad_valores_con_datos = df_plays['price'].count()

# Imprime la cantidad de valores con datos en la columna 'mi_columna'
print(f'Cantidad de valores con datos en la columna "mi_columna": {cantidad_valores_con_datos}')

Cantidad de valores nulos en la columna "mi_columna": 0
Cantidad de valores con datos en la columna "mi_columna": 22530

In [99]:
df_plays.info()
df_plays.head()

<class 'pandas.core.frame.DataFrame'>
Index: 22530 entries, 0 to 22529
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         22530 non-null  object
 1   publisher                  22530 non-null  object
 2   title                      22530 non-null  object
 3   year                       22530 non-null  object
 4   price                      22530 non-null  object
 5   Action                     22530 non-null  int64
 6   Adventure                  22530 non-null  int64
 7   Animation_&amp;_Modeling   22530 non-null  int64
 8   Audio_Production           22530 non-null  int64
 9   Casual                     22530 non-null  int64
 10  Design_&amp;_Illustration  22530 non-null  int64
 11  Early_Access               22530 non-null  int64
 12  Education                  22530 non-null  int64
 13  Free_to_Play               22530 non-null  int64
 14  Indie                      22530 non-null  int64
 15  Massively_Multiplayer      22530 non-null  int64
 16  Photo_Editing              22530 non-null  int64
 17  RPG                        22530 non-null  int64
 18  Racing                     22530 non-null  int64
 19  Simulation                 22530 non-null  int64
 20  Software_Training          22530 non-null  int64
 21  Sports                     22530 non-null  int64
 22  Strategy                   22530 non-null  int64
 23  Utilities                  22530 non-null  int64
 24  Video_Production           22530 non-null  int64
 25  Web_Publishing             22530 non-null  int64
 26  Accounting                 22530 non-null  int64
 27  Design                     22530 non-null  int64
 28  Photo                      22530 non-null  int64
 29  Web                        22530 non-null  int64
 30  Software                   22530 non-null  int64
 31  Audio                      22530 non-null  int64
 32  Early                      22530 non-null  int64
 33  Animation                  22530 non-null  int64
 34  Video                      22530 non-null  int64
 35  Free                       22530 non-null  int64
 36  Massively                  22530 non-null  int64
dtypes: int64(32), object(5)
memory usage: 6.5+ MB

,id,publisher,title,year,price,Action,Adventure,Animation_&amp;_Modeling,Audio_Production,Casual,...,Design,Photo,Web,Software,Audio,Early,Animation,Video,Free,Massively
0,761140,Kotoshiro,Lost Summoner Kitty,2018,4.99,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,643980,"Making Fun, Inc",Ironbound,2018,Free To Play,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,670290,Poolians.com,Real Pool 3D - Poolians,2017,Free to Play,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,767400,彼岸领域,弹炸人2222,2017,0.99,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,772540,Trickjump Games Ltd,Battle Royale Trainer,2018,3.99,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
df_hours_plays = pd.read_csv('./aust_users_play_name.csv')

df_hours_plays.info()
df_hours_plays.head(60)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   item_id           int64
 2   item_name         object
 3   playtime_forever  int64
 4   playtime_2weeks   int64
dtypes: int64(3), object(2)
memory usage: 196.6+ MB

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0
5,76561197970982479,60,Ricochet,0,0
6,76561197970982479,70,Half-Life,0,0
7,76561197970982479,130,Half-Life: Blue Shift,0,0
8,76561197970982479,300,Day of Defeat: Source,4733,0
9,76561197970982479,240,Counter-Strike: Source,1853,0
10,76561197970982479,3830,Psychonauts,333,0
11,76561197970982479,2630,Call of Duty 2,75,0
12,76561197970982479,3900,Sid Meier's Civilization IV,338,0
13,76561197970982479,34440,Sid Meier's Civilization IV,0,0
14,76561197970982479,3920,Sid Meier's Pirates!,2,0
15,76561197970982479,6400,Joint Task Force,286,0
16,76561197970982479,6910,Deus Ex: Game of the Year Edition,2685,0
17,76561197970982479,7670,BioShock,633,0
18,76561197970982479,409710,BioShock Remastered,0,0
19,76561197970982479,220,Half-Life 2,696,0
20,76561197970982479,320,Half-Life 2: Deathmatch,0,0
21,76561197970982479,340,Half-Life 2: Lost Coast,37,0
22,76561197970982479,360,Half-Life Deathmatch: Source,0,0
23,76561197970982479,380,Half-Life 2: Episode One,168,0
24,76561197970982479,400,Portal,173,0
25,76561197970982479,420,Half-Life 2: Episode Two,323,0
26,76561197970982479,9340,Company of Heroes: Opposing Fronts,692,0
27,76561197970982479,228200,Company of Heroes (New Steam Version),0,0
28,76561197970982479,11450,Overlord,0,0
29,76561197970982479,7940,Call of Duty 4: Modern Warfare,1185,0
30,76561197970982479,4700,Medieval II: Total War,477,0
31,76561197970982479,12900,Audiosurf,115,0
32,76561197970982479,13250,Unreal Gold,0,0
33,76561197970982479,16100,Virtual Villagers: A New Home,0,0
34,76561197970982479,15700,Oddworld: Abe's Oddysee,28,0
35,76561197970982479,15710,Oddworld: Abe's Exoddus,0,0
36,76561197970982479,17330,Crysis Warhead,31,0
37,76561197970982479,17340,Crysis Wars,0,0
38,76561197970982479,22000,World of Goo,195,0
39,76561197970982479,500,Left 4 Dead,513,0
40,76561197970982479,4560,Company of Heroes,1061,0
41,76561197970982479,17460,Mass Effect,1613,0
42,76561197970982479,10500,Empire: Total War,186,0
43,76561197970982479,24740,Burnout Paradise: The Ultimate Box,0,0
44,76561197970982479,22200,Zeno Clash,271,0
45,76561197970982479,26800,Braid,445,0
46,76561197970982479,1250,Killing Floor,10006,0
47,76561197970982479,35420,Killing Floor Mod: Defence Alliance 2,0,0
48,76561197970982479,3590,Plants vs. Zombies: Game of the Year,4413,0
49,76561197970982479,8880,Freedom Force,0,0
50,76561197970982479,8890,Freedom Force vs. the 3rd Reich,0,0
51,76561197970982479,23120,Droplitz,53,0
52,76561197970982479,35700,Trine,199,0
53,76561197970982479,10140,3D Ultra Minigolf Adventures Deluxe,25,0
54,76561197970982479,35010,Batman: Arkham Asylum,570,0
55,76561197970982479,35140,Batman: Arkham Asylum GOTY Edition,0,0
56,76561197970982479,29180,Osmos,940,0
57,76561197970982479,15520,AaAaAA!!! - A Reckless Disregard for Gravity,110,0
58,76561197970982479,32370,STAR WARS™: Knights of the Old Republic™,5,0
59,76561197970982479,37700,Darkest of Days,782,0

In [104]:
# Paso 1: Renombrar 'title' a 'item_name' en df_plays para la unión
df_plays_renombrado = df_plays.rename(columns={'title': 'item_name'})

# Paso 2: Unir df_hours_plays con df_plays_renombrado
# Incluimos solo las columnas de interés de df_plays_renombrado para evitar duplicar otras columnas
columnas_de_interes = ['item_name', 'publisher', 'year', 'price', 'id']
df_final = pd.merge(df_hours_plays, df_plays_renombrado[columnas_de_interes], on='item_name', how='left')

# El resultado es df_final, que tiene las columnas de df_hours_plays enriquecidas con 'publisher', 'year', y 'price' de df_plays
df_final.info()
df_final.head(40)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5154117 entries, 0 to 5154116
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   item_id           int64
 2   item_name         object
 3   playtime_forever  int64
 4   playtime_2weeks   int64
 5   publisher         object
 6   year              object
 7   price             object
 8   id                object
dtypes: int64(3), object(6)
memory usage: 353.9+ MB

,user_id,item_id,item_name,playtime_forever,playtime_2weeks,publisher,year,price,id
0,76561197970982479,10,Counter-Strike,6,0,Valve,2000,9.99,10
1,76561197970982479,20,Team Fortress Classic,0,0,Valve,1999,4.99,20
2,76561197970982479,30,Day of Defeat,7,0,Valve,2003,4.99,30
3,76561197970982479,40,Deathmatch Classic,0,0,Valve,2001,4.99,40
4,76561197970982479,50,Half-Life: Opposing Force,0,0,Valve,1999,4.99,50
5,76561197970982479,60,Ricochet,0,0,Valve,2000,4.99,60
6,76561197970982479,70,Half-Life,0,0,Valve,1998,9.99,70
7,76561197970982479,130,Half-Life: Blue Shift,0,0,Valve,2001,4.99,130
8,76561197970982479,300,Day of Defeat: Source,4733,0,Valve,2010,9.99,300
9,76561197970982479,240,Counter-Strike: Source,1853,0,Valve,2004,19.99,240
10,76561197970982479,3830,Psychonauts,333,0,Double Fine Productions,2005,9.99,3830
11,76561197970982479,2630,Call of Duty 2,75,0,NaN,NaN,NaN,NaN
12,76561197970982479,3900,Sid Meier's Civilization IV,338,0,NaN,NaN,NaN,NaN
13,76561197970982479,34440,Sid Meier's Civilization IV,0,0,NaN,NaN,NaN,NaN
14,76561197970982479,3920,Sid Meier's Pirates!,2,0,2K Games,2005,9.99,3920
15,76561197970982479,6400,Joint Task Force,286,0,HD Publishing,2006,9.99,6400
16,76561197970982479,6910,Deus Ex: Game of the Year Edition,2685,0,Square Enix,2000,6.99,6910
17,76561197970982479,7670,BioShock,633,0,NaN,NaN,NaN,NaN
18,76561197970982479,409710,BioShock Remastered,0,0,NaN,NaN,NaN,NaN
19,76561197970982479,220,Half-Life 2,696,0,Valve,2004,9.99,220
20,76561197970982479,320,Half-Life 2: Deathmatch,0,0,Valve,2004,4.99,320
21,76561197970982479,340,Half-Life 2: Lost Coast,37,0,NaN,NaN,NaN,NaN
22,76561197970982479,360,Half-Life Deathmatch: Source,0,0,Valve,2006,9.99,360
23,76561197970982479,380,Half-Life 2: Episode One,168,0,Valve,2006,7.99,380
24,76561197970982479,400,Portal,173,0,Valve,2007,9.99,400
25,76561197970982479,420,Half-Life 2: Episode Two,323,0,Valve,2007,7.99,420
26,76561197970982479,9340,Company of Heroes: Opposing Fronts,692,0,NaN,NaN,NaN,NaN
27,76561197970982479,228200,Company of Heroes (New Steam Version),0,0,NaN,NaN,NaN,NaN
28,76561197970982479,11450,Overlord,0,0,NaN,NaN,NaN,NaN
29,76561197970982479,7940,Call of Duty 4: Modern Warfare,1185,0,NaN,NaN,NaN,NaN
30,76561197970982479,4700,Medieval II: Total War,477,0,NaN,NaN,NaN,NaN
31,76561197970982479,12900,Audiosurf,115,0,NaN,NaN,NaN,NaN
32,76561197970982479,13250,Unreal Gold,0,0,"Epic Games, Inc",1998,9.99,13250
33,76561197970982479,16100,Virtual Villagers: A New Home,0,0,Last Day of Work,2006,9.99,16100
34,76561197970982479,15700,Oddworld: Abe's Oddysee,28,0,NaN,NaN,NaN,NaN
35,76561197970982479,15710,Oddworld: Abe's Exoddus,0,0,NaN,NaN,NaN,NaN
36,76561197970982479,17330,Crysis Warhead,31,0,NaN,NaN,NaN,NaN
37,76561197970982479,17340,Crysis Wars,0,0,NaN,NaN,NaN,NaN
38,76561197970982479,22000,World of Goo,195,0,2D BOY,2008,9.99,22000
39,76561197970982479,500,Left 4 Dead,513,0,Valve,2008,19.99,500

In [105]:
# Filtra el DataFrame para quedarte solo con las filas donde 'price' no es nulo
df_plays_filtrado = df_final.dropna(subset=['publisher'])

# Ahora df_plays_filtrado contiene solo las filas donde 'price' tiene datos no nulos
df_plays_filtrado.info()
df_plays_filtrado.head(40)

<class 'pandas.core.frame.DataFrame'>
Index: 3039363 entries, 0 to 5154115
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   item_id           int64
 2   item_name         object
 3   playtime_forever  int64
 4   playtime_2weeks   int64
 5   publisher         object
 6   year              object
 7   price             object
 8   id                object
dtypes: int64(3), object(6)
memory usage: 231.9+ MB

,user_id,item_id,item_name,playtime_forever,playtime_2weeks,publisher,year,price,id
0,76561197970982479,10,Counter-Strike,6,0,Valve,2000,9.99,10
1,76561197970982479,20,Team Fortress Classic,0,0,Valve,1999,4.99,20
2,76561197970982479,30,Day of Defeat,7,0,Valve,2003,4.99,30
3,76561197970982479,40,Deathmatch Classic,0,0,Valve,2001,4.99,40
4,76561197970982479,50,Half-Life: Opposing Force,0,0,Valve,1999,4.99,50
5,76561197970982479,60,Ricochet,0,0,Valve,2000,4.99,60
6,76561197970982479,70,Half-Life,0,0,Valve,1998,9.99,70
7,76561197970982479,130,Half-Life: Blue Shift,0,0,Valve,2001,4.99,130
8,76561197970982479,300,Day of Defeat: Source,4733,0,Valve,2010,9.99,300
9,76561197970982479,240,Counter-Strike: Source,1853,0,Valve,2004,19.99,240
10,76561197970982479,3830,Psychonauts,333,0,Double Fine Productions,2005,9.99,3830
14,76561197970982479,3920,Sid Meier's Pirates!,2,0,2K Games,2005,9.99,3920
15,76561197970982479,6400,Joint Task Force,286,0,HD Publishing,2006,9.99,6400
16,76561197970982479,6910,Deus Ex: Game of the Year Edition,2685,0,Square Enix,2000,6.99,6910
19,76561197970982479,220,Half-Life 2,696,0,Valve,2004,9.99,220
20,76561197970982479,320,Half-Life 2: Deathmatch,0,0,Valve,2004,4.99,320
22,76561197970982479,360,Half-Life Deathmatch: Source,0,0,Valve,2006,9.99,360
23,76561197970982479,380,Half-Life 2: Episode One,168,0,Valve,2006,7.99,380
24,76561197970982479,400,Portal,173,0,Valve,2007,9.99,400
25,76561197970982479,420,Half-Life 2: Episode Two,323,0,Valve,2007,7.99,420
32,76561197970982479,13250,Unreal Gold,0,0,"Epic Games, Inc",1998,9.99,13250
33,76561197970982479,16100,Virtual Villagers: A New Home,0,0,Last Day of Work,2006,9.99,16100
38,76561197970982479,22000,World of Goo,195,0,2D BOY,2008,9.99,22000
39,76561197970982479,500,Left 4 Dead,513,0,Valve,2008,19.99,500
41,76561197970982479,17460,Mass Effect,1613,0,Electronic Arts,2008,19.99,17460
43,76561197970982479,24740,Burnout Paradise: The Ultimate Box,0,0,Electronic Arts,2009,19.99,24740
44,76561197970982479,22200,Zeno Clash,271,0,ACE Team,2009,9.99,22200
45,76561197970982479,26800,Braid,445,0,Number None,2009,14.99,26800
46,76561197970982479,1250,Killing Floor,10006,0,Tripwire Interactive,2009,19.99,1250
49,76561197970982479,8880,Freedom Force,0,0,2K Games,2002,4.99,8880
56,76561197970982479,29180,Osmos,940,0,Hemisphere Games,2009,9.99,29180
57,76561197970982479,15520,AaAaAA!!! - A Reckless Disregard for Gravity,110,0,"Dejobaan Games, LLC",2009,9.99,15520
59,76561197970982479,37700,Darkest of Days,782,0,Phantom EFX,nan,19.99,37700
63,76561197970982479,550,Left 4 Dead 2,1474,0,Valve,2009,19.99,550
65,76561197970982479,8980,Borderlands,3061,0,2K Games,2009,19.99,8980
66,76561197970982479,41500,Torchlight,536,0,Runic Games,2009,14.99,41500
70,76561197970982479,17450,Dragon Age: Origins,4431,0,Electronic Arts,2009,19.99,17450
71,76561197970982479,3170,King's Bounty: Armored Princess,1021,0,1C Company,2009,9.99,3170
72,76561197970982479,25900,King's Bounty: The Legend,1389,0,1C Company,2008,6.99,25900
74,76561197970982479,24980,Mass Effect 2,5001,0,Electronic Arts,2010,19.99,24980

In [103]:
import pandas as pd

# Supongamos que tienes el siguiente DataFrame
# df = pd.DataFrame({'columna': ['free', 'paid', 'free to play', 'free', 'subscription', 'free to play']})

# Contar cuántas veces aparecen 'free' y 'free to play'
conteos = df_final['price'].value_counts()

# Acceder a los conteos específicos
conteo_free = conteos.get('Free', 0)  # Obtener 'free', default a 0 si no se encuentra
conteo_free_to_play = conteos.get('Free to Play', 0)  # Obtener 'free to play', default a 0 si no se encuentra

print(f"'free' aparece {conteo_free} veces.")
print(f"'free to play' aparece {conteo_free_to_play} veces.")

'free' aparece 106111 veces.
'free to play' aparece 479502 veces.

In [ ]:
import pandas as pd

# Supongamos que df_final y df_plays ya están definidos
# Por ejemplo:
# df_final = pd.DataFrame({
#     'user_id': [1, 2, 3],
#     'item_id': [101, 102, 103],
#     'item_name': ['Bola Roja', 'Juego Azul', 'Carrera Verde'],
#     'playtime_forever': [10, 20, 30]
# })

# df_plays = pd.DataFrame({
#     'title': ['Bola Roja', 'Juego Azul', 'Carrera Verde', 'Aventura Espacial'],
#     'Action': [1, 0, 0, 1],
#     'Adventure': [0, 1, 0, 1],
#     'Casual': [0, 0, 1, 0],
#     # Añade aquí más géneros según tu DataFrame
# })

# Renombrar 'title' en df_plays para coincidir con 'item_name' en df_final
df_plays_renombrado = df_plays.rename(columns={'title': 'item_name'})

# Unir df_final con df_plays_renombrado
# Esto agrega las columnas de género de df_plays a df_final donde los nombres de los juegos coinciden
df_final_enriquecido = pd.merge(df_final, df_plays_renombrado, on='item_name', how='left')

# Ahora df_final_enriquecido contiene tanto los datos originales de df_final como las columnas de género de df_plays
print(df_final_enriquecido)

In [ ]:
df_final_enriquecido.info()
df_final_enriquecido.head()

In [ ]:
df_final_enriquecido.drop(['playtime_2weeks','publisher_y', 'year_y', ])

In [ ]:
 
# Supongamos que tienes un DataFrame llamado df y quieres eliminar las columnas 'columna1' y 'columna2'
columnas_a_eliminar = ['playtime_2weeks','publisher_y', 'year_y','id']
df_domies = df_final_enriquecido.drop(columns=columnas_a_eliminar)

In [ ]:
df_ultimate = df_domies.dropna(subset=['publisher_x'])
df_domies.info()
df_domies.head(40)

In [106]:
df_final.to_csv('data_plays.csv')

In [108]:
df_domies = pd.read_csv('./output_steam_games.csv')

df_domies.info()
df_domies.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 39 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   publisher                  22511 non-null   object
 1   title                      22530 non-null   object
 2   release_date               22496 non-null   object
 3   price                      22530 non-null   object
 4   id                         22530 non-null   float64
 5   developer                  22530 non-null   object
 6   Action                     120445 non-null  int64
 7   Adventure                  120445 non-null  int64
 8   Animation_&amp;_Modeling   120445 non-null  int64
 9   Audio_Production           120445 non-null  int64
 10  Casual                     120445 non-null  int64
 11  Design_&amp;_Illustration  120445 non-null  int64
 12  Early_Access               120445 non-null  int64
 13  Education                  120445 non-null  int64
 14  Free_to_Play               120445 non-null  int64
 15  Indie                      120445 non-null  int64
 16  Massively_Multiplayer      120445 non-null  int64
 17  Photo_Editing              120445 non-null  int64
 18  RPG                        120445 non-null  int64
 19  Racing                     120445 non-null  int64
 20  Simulation                 120445 non-null  int64
 21  Software_Training          120445 non-null  int64
 22  Sports                     120445 non-null  int64
 23  Strategy                   120445 non-null  int64
 24  Utilities                  120445 non-null  int64
 25  Video_Production           120445 non-null  int64
 26  Web_Publishing             120445 non-null  int64
 27  Accounting                 120445 non-null  int64
 28  Design                     120445 non-null  int64
 29  Photo                      120445 non-null  int64
 30  Web                        120445 non-null  int64
 31  Software                   120445 non-null  int64
 32  Audio                      120445 non-null  int64
 33  Early                      120445 non-null  int64
 34  Animation                  120445 non-null  int64
 35  Video                      120445 non-null  int64
 36  Free                       120445 non-null  int64
 37  Massively                  120445 non-null  int64
 38  year                       22496 non-null   float64
dtypes: float64(2), int64(32), object(5)
memory usage: 35.8+ MB

C:\Users\Carlos Andres\AppData\Local\Temp\ipykernel_12388\333437361.py:1: DtypeWarning: Columns (0,1,2,3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_domies = pd.read_csv('./output_steam_games.csv')

,publisher,title,release_date,price,id,developer,Action,Adventure,Animation_&amp;_Modeling,Audio_Production,...,Photo,Web,Software,Audio,Early,Animation,Video,Free,Massively,year
0,Kotoshiro,Lost Summoner Kitty,2018-01-04,4.99,761140.0,Kotoshiro,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
1,"Making Fun, Inc.",Ironbound,2018-01-04,Free To Play,643980.0,Secret Level SRL,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2018.0
2,Poolians.com,Real Pool 3D - Poolians,2017-07-24,Free to Play,670290.0,Poolians.com,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2017.0
3,彼岸领域,弹炸人2222,2017-12-07,0.99,767400.0,彼岸领域,1,1,0,0,...,0,0,0,0,0,0,0,0,0,2017.0
4,Trickjump Games Ltd,Battle Royale Trainer,2018-01-04,3.99,772540.0,Trickjump Games Ltd,1,1,0,0,...,0,0,0,0,0,0,0,0,0,2018.0

In [115]:

df_domies.head()

,publisher,title,release_date,price,id,developer,Action,Adventure,Animation_&amp;_Modeling,Audio_Production,...,Photo,Web,Software,Audio,Early,Animation,Video,Free,Massively,year
0,Kotoshiro,Lost Summoner Kitty,2018-01-04,4.99,761140.0,Kotoshiro,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
1,"Making Fun, Inc.",Ironbound,2018-01-04,Free To Play,643980.0,Secret Level SRL,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2018.0
2,Poolians.com,Real Pool 3D - Poolians,2017-07-24,Free to Play,670290.0,Poolians.com,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2017.0
3,彼岸领域,弹炸人2222,2017-12-07,0.99,767400.0,彼岸领域,1,1,0,0,...,0,0,0,0,0,0,0,0,0,2017.0
4,Trickjump Games Ltd,Battle Royale Trainer,2018-01-04,3.99,772540.0,Trickjump Games Ltd,1,1,0,0,...,0,0,0,0,0,0,0,0,0,2018.0

In [116]:


# Eliminar columnas 'A' y 'C' utilizando drop()
df_domies = df_domies.drop(['publisher',	'title',	'release_date',	'price', 'developer', 'year'], axis=1)

# Ahora df solo tiene la columna 'B'
print(df_domies)
# Convierte la columna 'mi_columna' a tipo int
df_domies['mi_columna'] = df_domies['mi_columna'].astype(int)

                   user_id  item_id                      item_name  \
0        76561197970982479       10                 Counter-Strike
1        76561197970982479       20          Team Fortress Classic
2        76561197970982479       30                  Day of Defeat
3        76561197970982479       40             Deathmatch Classic
4        76561197970982479       50      Half-Life: Opposing Force
...                    ...      ...                            ...
5155928  76561198329548331   346330                   BrainBread 2
5155929  76561198329548331   373330                    All Is Dust
5155930  76561198329548331   388490  One Way To Die: Steam Edition
5155931  76561198329548331   521570          You Have 10 Seconds 2
5155932  76561198329548331   519140                     Minds Eyes

         playtime_forever         publisher_x year_x       price_x  \
0                       6               Valve   2000          9.99
1                       0               Valve   1999          4.99
2                       7               Valve   2003          4.99
3                       0               Valve   2001          4.99
4                       0               Valve   1999          4.99
...                   ...                 ...    ...           ...
5155928                 0     Reperio Studios   2016          Free
5155929                 0                 NaN    NaN           NaN
5155930                 3  CoaguCo Industries   2015  Free to Play
5155931                 4       Tamationgames   2016  Free To Play
5155932                 3                 NaN    NaN           NaN

              price_y  Action  Adventure  ...  Design  Photo  Web  Software  \
0                9.99     1.0        0.0  ...     0.0    0.0  0.0       0.0
1                4.99     1.0        0.0  ...     0.0    0.0  0.0       0.0
2                4.99     1.0        0.0  ...     0.0    0.0  0.0       0.0
3                4.99     1.0        0.0  ...     0.0    0.0  0.0       0.0
4                4.99     1.0        0.0  ...     0.0    0.0  0.0       0.0
...               ...     ...        ...  ...     ...    ...  ...       ...
5155928          Free     1.0        1.0  ...     0.0    0.0  0.0       0.0
5155929           NaN     NaN        NaN  ...     NaN    NaN  NaN       NaN
5155930  Free to Play     0.0        1.0  ...     0.0    0.0  0.0       0.0
5155931  Free To Play     0.0        0.0  ...     0.0    0.0  0.0       0.0
5155932           NaN     NaN        NaN  ...     NaN    NaN  NaN       NaN

         Audio  Early  Animation  Video  Free  Massively
0          0.0    0.0        0.0    0.0   0.0        0.0
1          0.0    0.0        0.0    0.0   0.0        0.0
2          0.0    0.0        0.0    0.0   0.0        0.0
3          0.0    0.0        0.0    0.0   0.0        0.0
4          0.0    0.0        0.0    0.0   0.0        0.0
...        ...    ...        ...    ...   ...        ...
5155928    0.0    1.0        0.0    0.0   1.0        0.0
5155929    NaN    NaN        NaN    NaN   NaN        NaN
5155930    0.0    0.0        0.0    0.0   1.0        0.0
5155931    0.0    0.0        0.0    0.0   1.0        0.0
5155932    NaN    NaN        NaN    NaN   NaN        NaN

[5155933 rows x 40 columns]

In [120]:
import pandas as pd



# Reemplaza NaN por 0 en la columna 'mi_columna'
df_domies['id'].fillna(0, inplace=True)

# Convierte la columna 'mi_columna' a tipo int
df_domies['id'] = df_domies['id'].astype(int)

# Ahora la columna 'mi_columna' contiene enteros en lugar de números con .0 y NaN
print(df_domies)



df_domies.head()

            id  Action  Adventure  Animation_&amp;_Modeling  Audio_Production  \
0       761140       1          0                         0                 0
1       643980       0          0                         0                 0
2       670290       0          0                         0                 0
3       767400       1          1                         0                 0
4       772540       1          1                         0                 0
...        ...     ...        ...                       ...               ...
120440       0       0          0                         0                 0
120441       0       0          0                         0                 0
120442       0       1          1                         0                 0
120443       0       0          0                         0                 0
120444       0       0          0                         0                 0

        Casual  Design_&amp;_Illustration  Early_Access  Education  \
0            1                          0             0          0
1            0                          0             0          0
2            1                          0             0          0
3            1                          0             0          0
4            0                          0             0          0
...        ...                        ...           ...        ...
120440       0                          0             0          0
120441       1                          0             1          0
120442       0                          0             0          0
120443       1                          0             0          0
120444       0                          0             0          0

        Free_to_Play  ...  Design  Photo  Web  Software  Audio  Early  \
0                  0  ...       0      0    0         0      0      0
1                  1  ...       0      0    0         0      0      0
2                  1  ...       0      0    0         0      0      0
3                  0  ...       0      0    0         0      0      0
4                  0  ...       0      0    0         0      0      0
...              ...  ...     ...    ...  ...       ...    ...    ...
120440             0  ...       0      0    0         0      0      0
120441             0  ...       0      0    0         0      0      1
120442             0  ...       0      0    0         0      0      0
120443             0  ...       0      0    0         0      0      0
120444             0  ...       0      0    0         0      0      0

        Animation  Video  Free  Massively
0               0      0     0          0
1               0      0     1          0
2               0      0     1          0
3               0      0     0          0
4               0      0     0          0
...           ...    ...   ...        ...
120440          0      0     0          0
120441          0      0     0          0
120442          0      0     0          0
120443          0      0     0          0
120444          0      0     0          0

[120445 rows x 33 columns]

,id,Action,Adventure,Animation_&amp;_Modeling,Audio_Production,Casual,Design_&amp;_Illustration,Early_Access,Education,Free_to_Play,...,Design,Photo,Web,Software,Audio,Early,Animation,Video,Free,Massively
0,761140,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,643980,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,670290,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,767400,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,772540,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [122]:
import pandas as pd



# Convierte la columna 'mi_columna' a tipo int
df_domies['id'] = df_domies['id'].astype(int)

df_domies.head()

,id,Action,Adventure,Animation_&amp;_Modeling,Audio_Production,Casual,Design_&amp;_Illustration,Early_Access,Education,Free_to_Play,...,Design,Photo,Web,Software,Audio,Early,Animation,Video,Free,Massively
0,761140,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,643980,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,670290,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,767400,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,772540,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [123]:


# Cambiar el nombre de la columna 'A' a 'NuevaColumna'
df_domies['item_id'] = df_domies['id']

# Eliminar la columna original 'A' si es necesario
del df_domies['id']

df_domies.head()

,Action,Adventure,Animation_&amp;_Modeling,Audio_Production,Casual,Design_&amp;_Illustration,Early_Access,Education,Free_to_Play,Indie,...,Photo,Web,Software,Audio,Early,Animation,Video,Free,Massively,item_id
0,1,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,761140
1,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,643980
2,0,0,0,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,670290
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,767400
4,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,772540

In [124]:
import pandas as pd

# Suponiendo que df_final y df_dummies ya están definidos y cargados correctamente.

# Realizar una unión "inner" para combinar los DataFrames en los item_id coincidentes
df_combinado = pd.merge(df_final, df_domies, on='item_id', how='inner')

# df_combinado ahora contiene las columnas de ambos df_final y df_dummies, 
# pero solo para los registros con item_id presentes en ambos.
df_combinado.info()
df_combinado.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4040408 entries, 0 to 4040407
Data columns (total 41 columns):
 #   Column                     Dtype
---  ------                     -----
 0   user_id                    object
 1   item_id                    int64
 2   item_name                  object
 3   playtime_forever           int64
 4   playtime_2weeks            int64
 5   publisher                  object
 6   year                       object
 7   price                      object
 8   id                         object
 9   Action                     int64
 10  Adventure                  int64
 11  Animation_&amp;_Modeling   int64
 12  Audio_Production           int64
 13  Casual                     int64
 14  Design_&amp;_Illustration  int64
 15  Early_Access               int64
 16  Education                  int64
 17  Free_to_Play               int64
 18  Indie                      int64
 19  Massively_Multiplayer      int64
 20  Photo_Editing              int64
 21  RPG                        int64
 22  Racing                     int64
 23  Simulation                 int64
 24  Software_Training          int64
 25  Sports                     int64
 26  Strategy                   int64
 27  Utilities                  int64
 28  Video_Production           int64
 29  Web_Publishing             int64
 30  Accounting                 int64
 31  Design                     int64
 32  Photo                      int64
 33  Web                        int64
 34  Software                   int64
 35  Audio                      int64
 36  Early                      int64
 37  Animation                  int64
 38  Video                      int64
 39  Free                       int64
 40  Massively                  int64
dtypes: int64(35), object(6)
memory usage: 1.2+ GB

,user_id,item_id,item_name,playtime_forever,playtime_2weeks,publisher,year,price,id,Action,...,Design,Photo,Web,Software,Audio,Early,Animation,Video,Free,Massively
0,76561197970982479,10,Counter-Strike,6,0,Valve,2000,9.99,10,1,...,0,0,0,0,0,0,0,0,0,0
1,76561197970982479,20,Team Fortress Classic,0,0,Valve,1999,4.99,20,1,...,0,0,0,0,0,0,0,0,0,0
2,76561197970982479,30,Day of Defeat,7,0,Valve,2003,4.99,30,1,...,0,0,0,0,0,0,0,0,0,0
3,76561197970982479,40,Deathmatch Classic,0,0,Valve,2001,4.99,40,1,...,0,0,0,0,0,0,0,0,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0,Valve,1999,4.99,50,1,...,0,0,0,0,0,0,0,0,0,0

In [125]:
valores_nulos = df_combinado.isnull().any()
print(valores_nulos)

user_id                      False
item_id                      False
item_name                    False
playtime_forever             False
playtime_2weeks              False
publisher                     True
year                          True
price                         True
id                            True
Action                       False
Adventure                    False
Animation_&amp;_Modeling     False
Audio_Production             False
Casual                       False
Design_&amp;_Illustration    False
Early_Access                 False
Education                    False
Free_to_Play                 False
Indie                        False
Massively_Multiplayer        False
Photo_Editing                False
RPG                          False
Racing                       False
Simulation                   False
Software_Training            False
Sports                       False
Strategy                     False
Utilities                    False
Video_Production             False
Web_Publishing               False
Accounting                   False
Design                       False
Photo                        False
Web                          False
Software                     False
Audio                        False
Early                        False
Animation                    False
Video                        False
Free                         False
Massively                    False
dtype: bool

In [133]:
df_reviews_sin_nulos = df_combinado.dropna()

# Verificar las dimensiones del DataFrame después de eliminar filas con valores nulos
print(df_reviews_sin_nulos.shape)

(3005003, 41)

In [128]:
df_reviews_sin_nulos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3005003 entries, 0 to 4040407
Data columns (total 41 columns):
 #   Column                     Dtype
---  ------                     -----
 0   user_id                    object
 1   item_id                    int64
 2   item_name                  object
 3   playtime_forever           int64
 4   playtime_2weeks            int64
 5   publisher                  object
 6   year                       object
 7   price                      object
 8   id                         object
 9   Action                     int64
 10  Adventure                  int64
 11  Animation_&amp;_Modeling   int64
 12  Audio_Production           int64
 13  Casual                     int64
 14  Design_&amp;_Illustration  int64
 15  Early_Access               int64
 16  Education                  int64
 17  Free_to_Play               int64
 18  Indie                      int64
 19  Massively_Multiplayer      int64
 20  Photo_Editing              int64
 21  RPG                        int64
 22  Racing                     int64
 23  Simulation                 int64
 24  Software_Training          int64
 25  Sports                     int64
 26  Strategy                   int64
 27  Utilities                  int64
 28  Video_Production           int64
 29  Web_Publishing             int64
 30  Accounting                 int64
 31  Design                     int64
 32  Photo                      int64
 33  Web                        int64
 34  Software                   int64
 35  Audio                      int64
 36  Early                      int64
 37  Animation                  int64
 38  Video                      int64
 39  Free                       int64
 40  Massively                  int64
dtypes: int64(35), object(6)
memory usage: 962.9+ MB

In [130]:
df_reviews_sin_nulos.to_csv('data_plays.csv', index=False)

In [131]:
df_review = pd.read_csv('./data/data_reviews.csv')

df_review.info()
df_review.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             25799 non-null  object
 1   item_id             25799 non-null  object
 2   recommend           25799 non-null  object
 3   review_content      25787 non-null  object
 4   year                25799 non-null  int64
 5   sentiment_analysis  25799 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.2+ MB

,user_id,item_id,recommend,review_content,year,sentiment_analysis
0,Bennysaputra,10.0,True,cool game,2015,0
1,Monsta45,10.0,True,wallbang simulator,2015,1
2,76561198072207162,10.0,True,people still play this! siq game,2014,0
3,Monsta45,10.0,True,wallbang simulator,2015,1
4,shaman3soul3,10.0,True,please put australian servers in cs 1.6 (espea...,2015,2

In [132]:
valores_nulos_review = df_review.isnull().any()
print(valores_nulos_review)

user_id               False
item_id               False
recommend             False
review_content         True
year                  False
sentiment_analysis    False
dtype: bool

In [134]:
df_reviews_sin_nulos = df_review.dropna()

# Verificar las dimensiones del DataFrame después de eliminar filas con valores nulos
print(df_reviews_sin_nulos.shape)

(25787, 6)

In [135]:
print(valores_nulos_review)

user_id               False
item_id               False
recommend             False
review_content         True
year                  False
sentiment_analysis    False
dtype: bool